body{
  font-family: Helvetica;
}
#second{
  font-family:Helvetica;
  font-size:50px;
  color:khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
#first{
  font-weight:bold;
  font-size: 32px;
  color: white;
  background-color: mediumspringgreen;
}
#third{
  font-weight:bold;
  font-size:32px;
  color: white;
  background-color:lightcoral;
}
#fourth{
  font-weight:bold;
  font-size:32px;
  color: white;
  background-color:skyblue;
}
